html {
    font-size: 10px;
}

body {
    margin: 0;
}

.container {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

.header {
    background-color: rgb(0, 0, 0);
    height: 170px;
    width: 100%;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
}

li {
    color: rgb(255, 255, 255);
    font-family: 'Work Sans', sans-serif;
    list-style-type: none;
    display: inline;
    font-size: 1.75rem;
    padding: 2px;
}

li a {
    color: rgb(255, 255, 255);
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    font-size: 1.75rem;
    margin-right: 20px;
}

li a:hover {
    color: rgb(222, 12, 23);
}

.menuheader {
    margin-left: auto;
}

.menuheader ul li a {
    font-size: 2.1rem;
    font-family: 'Work Sans', sans-serif;
    margin: 0 10px;
}

.current {
    font-weight: bold;
}

h1 {
    color: #0066cc;
    font-size: 3em;
}

h2 {
    color: #0066cc;
    font-size: 2em;
}

h3 {
    color: #0066cc;
    font-size: 1.5em;
}

blockquote {
    font-size: 1.5em;
}


p {
    color: rgb(23, 23, 23);
    font-size: 1.75rem;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
}

p.centered {
    text-align: center;
}

iframe {
    display: block;
    margin: 40px auto 120px auto;
}

.categoria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 531px;
}

.big-box {
    width: 500px;
    height: 500px;
    background-color: rgb(51, 51, 51);
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    align-items: center;
    margin: 0 20px;
    user-select: none;
}

.big-box:hover {
    color: rgb(222, 12, 23);
}

.box-content {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.box-content img {
    margin: 10px;
}

.box-content a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.box-content a:hover {
    color: rgb(222, 12, 23);
}

.personaje {
    margin-left: 100px;
}

.enlaces {
    height: 531px;
    display: flex;
    align-items: center;
}

.list-enlaces {
    list-style-type: none;
    padding: 0;
    align-items: center;
    width: 100%;
}

.list-enlaces li {
    margin: 15px 0;
    text-align: left;
}

.list-enlaces a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.lista-item {
    color: rgb(23, 23, 23);
    font-family: 'Work Sans', sans-serif;
    list-style-type: square;
    display: list-item;
    list-style-position: outside;
    font-size: 1.75rem;
    padding-bottom: 15px;
    user-select: none;
}

.detalleTemporada {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 100px;
}

.temporada {
    height: 531px;
}

.episodio {
    margin-left: 100px;
}

.temporada-list {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 30px 0;
}

.intro-body {
    width: 75%;
}

.intro-body iframe {
    width: 760px;
    height: 450px;
}


.initial-page {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 15px;
    margin: 10px;
}


.image-container-left {
    position: relative;
    width: 300px;
    overflow: hidden;
    width: 12.5%;
    display: grid;
    grid-template-rows: repeat(12, 80px);
}

.image-container-right {
    position: relative;
    width: 300px;
    overflow: hidden;
    width: 12.5%;
    display: grid;
    grid-template-rows: repeat(12, 80px);
}

.image-container-left img {
    width: 100%;
    height: auto;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
}

.image-container-right img {
    width: 100%;
    height: auto;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 75%, 0% 85%);
}

.temporada-item {
    color: rgb(23, 23, 23);
    background-color: #0066cc;
    font-family: 'Work Sans', sans-serif;
    list-style-type: none;
    font-size: 1.75rem;
    user-select: none;
    padding: 20px;
    margin: 10px;
}

.temporada-item:hover {
    cursor: pointer;
    background-color: #00aae4;
    color: #fbfcfc;
}

.episodioContainer,
.personajeContainer {
    width: 1000px;
    height: 780px;
    background-color: #d2b48c;
    border: rgb(23, 23, 23) solid;
    margin: 20px 0px;
}

.episodioContainer div,
.personajeContainer div {
    margin: 0px 40px;
}

.personajeContainer div {
    text-align: center;
}

#carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#carousel {
    display: flex;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: #0066cc;
    user-select: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}


.footertext {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-family: 'Work Sans', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: rgb(0, 0, 0);
    height: 215px;
    width: 100%;
    margin-top: 72px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.menufooter {
    margin-top: 0;
}

.menufooter ul {
    display: flex;
    padding: 0;
}

.menufooter li {
    list-style: none;
    margin-right: 20px;
}

.menufooter a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logo-svg {
    width: 500px;
    height: 170px;
    fill: #fff;
    margin: 20px;
}

.small {
    font: italic 15px sans-serif;
}

.heavyLogo {
    font: bold 30px sans-serif;
}

.heavy {
    font: bold 30px sans-serif;
    animation: scaleText 2s ease-in-out infinite, changeColor 2s linear infinite;
}

.novela, .trono-hierro {
    display: flex;
    justify-content: center;
}


@keyframes scaleText {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

@keyframes changeColor {
    0% {
        fill: grey;
    }

    50% {
        fill: black;
    }

    100% {
        fill: grey;
    }
}


@media only screen and (max-width: 768px) {

    /* Estilos para dispositivos móviles */
    .container {
        width: 100%;
    }

    .menuheader {
        flex-direction: column;
        align-items: center;
    }

    .menuheader li {
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }

    .logo-svg {
        width: 280px;
        height: 170px;
        fill: #fff;
        margin-right: 10px;
        left: 10px;
    }

    .big-box {
        width: 400px;
        height: 400px;
        margin: 20px;
    }


    .categoria{
        flex-direction: column;
        align-items: center;
    }

    .detalleTemporada {
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
    }

    .episodio {
        margin-left: 0;
    }

    .temporada-list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-gap: 0 60px;
    }

    .temporada-item {
        width: 70%;
        font-size: 1.2rem;
    }

    .episodioContainer,
    .personajeContainer {
        width: auto;
        height: auto;
        margin: 20px 30px;
    }

    .episodioContainer div,
    .personajeContainer div {
        margin: 0 20px;
    }

    .personajeContainer div section img {
        width: 100%;
        height: auto;
        margin: 10px;
    }

    article,
    .intro {
        margin: 30px;
    }

    iframe {
        width: 100%;
        height: auto;
        margin: 20px 0;
    }

    .enlaces {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 30px;
    }

    .list-enlaces li a {
        margin: 10px 0;
        max-width: 100%;
        font-size: 90%;
    }

    .intro-body iframe {
        width: 100%;
        height: auto;
    }

    .menufooter ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1455px) {
    /* Estilos para tablets */

    .container {
        width: 95%;
        max-width: 1100px;
        margin: 0 auto;
        position: relative;
    }

    .detalleTemporada {
        margin: 0 10px;
    }

    .episodio {
        margin-left: 0;
    }

    .episodioContainer,
    .personajeContainer {
        width: auto;
        height: auto;
        margin: 20px 30px;
    }

    .episodioContainer div,
    .personajeContainer div {
        margin: 0 20px;
    }

    .personajeContainer div section img {
        width: 100%;
        height: auto;
        margin: 10px;
    }

    iframe {
        width: 100%;
        height: auto;
        margin: 20px 0;
    }

    article {
        margin: 30px;
    }

    .intro {
        height: 400px;
        margin: 30px;
    }

    .intro-body iframe {
        width: 100%;
        height: auto;
    }

    .menufooter ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}